mtcnn==0.1.0
keras==2.4.3
keras-vggface==0.6
keras_applications==1.0.8
streamlit
protobuf==3.20.*
scikit-learn
tensorflow==2.3.1
streamlit==1.38.0
keras-preprocessing==1.1.2
scikit-learn==0.24.2
pillow==9.2.0
h5py==2.10.0
scipy==1.4.1
pyarrow==17.0.0
pydeck==0.9.1
opencv>=3.1
